a{

    text-decoration: none;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    font-family: sans-serif;

}

.link:hover{
    background: red;
    color: white;

}