.container{
    display: flex;
    flex-direction: row; /*row padrao*/
    flex-wrap: wrap; /*bom pra trabalhar com responsividade de imagens por exemplo*/

    flex-flow: row wrap; /*uma linha para flex direction e flex-wrap*/

    background-color: darkgray;
    height: 400px;
    color: white;
}

.r1{
    flex-grow: 1;/*mantem as proporcoes sem precisar definir width*/
    background-color: red;
}

.r2{
    flex-grow: 1;
    background-color: blue;
}

.r3{
    flex-grow: 2;
    background-color: green;
}

.rect{
    height: 100px;
}
