*{
    box-sizing: border-box;
}
#a-block{
    margin-top: 10px;
    padding-top: 70px;
    background: linear-gradient(red, blue);
    border: 1px solid #808080;
    height: 150px;
    width: 300px;
    border-radius: 20px 60px;
    text-align: center;
    position: absolute; left: 50%; top: 50%;
    transition: 0 1s ease 1s; 
    /*transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1s;*/
    /*trasition: widht 2s ease 1s // dimensao duracao ritmo delay*/
} 

#a-block:hover{
    width: 500px;
    height: 250px;
}