.title {
    text-align: center;
    color: rgb(255, 0, 0);
}/*utilizado nas class para atribuir dentro das tags*/

.text{
    color: olive;
}

#content{
    background-color: #ccc;
} /* utilizado para id`s*/